@import "~themes/variables.less";


.board{
  height:100%;

  .board-top{
    height:@legend-size;
    // border:5px solid red;
    margin-left:@legend-size;

    .legend-item{
      display:inline-block;
      vertical-align:top;
      height:100%;
    }
  }
  .board-side{
    display:inline-block;
    vertical-align:top;
    width:@legend-size;
    height:~"calc(100% - @{legend-size})";
    // border:5px solid green;

  }
  .board-cells{
    display:inline-block;
    width:~"calc(100% - @{legend-size})";
    height:~"calc(100% - @{legend-size})";
    // border:5px solid purple;
  }

}