@import "~themes/variables.less";


.board{
  height:100%;

  .board-top{
    height:@legend-size;
    margin-left:@legend-size;

    .legend-item{
      display:inline-block;
      vertical-align:top;
      height:100%;
    }
  }
  .board-side{
    display:inline-block;
    vertical-align:top;
    width:@legend-size;
    height:~"calc(100% - @{legend-size})";

  }
  .board-cells{
    display:inline-block;
    width:~"calc(100% - @{legend-size})";
    height:~"calc(100% - @{legend-size})";
  }

}

@media only screen and (max-width: @breakpoint-mobile-max) {
  .board{
    .board-side{
      display:none;
    }
    .board-cells{
      width:100%;
      margin-left:2px;
    }
  }
}