@import "~themes/variables.less";

#sample{
  &.loaded{
    color:@color-green;
  }
}



#app{
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;

  overflow:hidden;
}
#header{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:@header-height;
  box-shadow:@shadow-z3;

  >div{
    position:absolute;
  }

  .menubutton{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:20rem;
    fill:@color-grey;
    z-index:1;

    .button{
      position:absolute;
      left:2rem;
      top:50%;
      transform:translateY(-50%);
    }

    svg{
      width:100%;
      height:100%;
    }

  }

  .logo{
    width:100%;
    height:8rem;

    h1{
      font-size:5rem;
      color:@color-grey;
      .mixin-text-stroke(2px,1px,@color-blue);

      text-align:center;
    }
  }

  .buttons{
    position:absolute;
    top:0;
    right:0;
    // z-index:1;

    height:100%;
    width:20rem;

    .button{
      position:absolute;
      right:2rem;
      top:50%;
      transform:translateY(-50%);
    }
  }
}

#body{
  position:absolute;
  left:0;
  top:@header-height + 2rem;
  width:100%;
  bottom:0;

  // border:5px solid white;
}