@import "~themes/variables.less";

#sample{
  &.loaded{
    color:@color-green;
  }
}



#app{
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;

  overflow:hidden;
}
#header{
  position:absolute;
  left:0;
  top:0;
  width:100%;

  height:@header-height;
}

#body{
  position:absolute;
  left:0;
  top:@header-height;
  width:100%;
  bottom:0;

  // border:5px solid white;
}