@color-red:#E00400;
@color-yellow:#FFF512;
@color-green:#1DCF00;
@color-blue:#1270FF;
@color-purple:#870099;

@color-grey:#2e2d33;
@color-greyer:#111111;
@color-black:#000000;
@color-white:#ffffff;

@font-style-body: 'arial';
@font-style-heading: 'arial';

@breakpoint-mobile-max: 600px;

@breakpoint-tablet-max: 1100px;

@legend-size: 5rem;
@cell-body-width: 90%;
@header-height:8rem;

@shadow-z2: -0.1rem 0.1rem .25rem .1rem rgba(0,0,0,0.36);
@shadow-z3: -.2rem .5rem 1rem .2rem rgba(0,0,0,.36);


@import (css) url('https://fonts.googleapis.com/css?family=Patrick+Hand|Sigmar+One|Fredoka+One');
// @font-style-body: 'Patrick Hand', cursive;
@font-style-header: 'Sigmar One', cursive;
@font-style-body: 'Fredoka One', cursive;



.mixin-text-stroke(@stroke-thickness, @stroke-spread, @stroke-color){

  text-shadow: -@stroke-thickness -@stroke-thickness @stroke-spread @stroke-color,
                @stroke-thickness -@stroke-thickness @stroke-spread @stroke-color,
               -@stroke-thickness @stroke-thickness @stroke-spread @stroke-color,
                @stroke-thickness @stroke-thickness @stroke-spread @stroke-color,
                -@stroke-thickness -@stroke-thickness @stroke-spread @stroke-color,
                @stroke-thickness -@stroke-thickness @stroke-spread @stroke-color,
               -@stroke-thickness @stroke-thickness @stroke-spread @stroke-color,
                @stroke-thickness @stroke-thickness @stroke-spread @stroke-color,
                -@stroke-thickness -@stroke-thickness @stroke-spread @stroke-color,
                @stroke-thickness -@stroke-thickness @stroke-spread @stroke-color,
               -@stroke-thickness @stroke-thickness @stroke-spread @stroke-color,
                @stroke-thickness @stroke-thickness @stroke-spread @stroke-color,
                -@stroke-thickness -@stroke-thickness @stroke-spread @stroke-color,
                @stroke-thickness -@stroke-thickness @stroke-spread @stroke-color,
               -@stroke-thickness @stroke-thickness @stroke-spread @stroke-color,
                @stroke-thickness @stroke-thickness @stroke-spread @stroke-color;

}